NET "row1" LOC = P57;
NET "row1" IOSTANDARD = LVTTL;
NET "row1" PULLDOWN;
NET "row2" LOC = P74;
NET "row2" IOSTANDARD = LVTTL;
NET "row2" PULLDOWN;
NET "row3" LOC = P80;
NET "row3" IOSTANDARD = LVTTL;
NET "row3" PULLDOWN;
NET "row4" LOC = P120;
NET "row4" IOSTANDARD = LVTTL;
NET "row4" PULLDOWN;
NET "row5" LOC = P116;
NET "row5" IOSTANDARD = LVTTL;
NET "row5" PULLDOWN;
NET "row6" LOC = P111;
NET "row6" IOSTANDARD = LVTTL;
NET "row6" PULLDOWN;
NET "player1leftBtn" LOC = P32;
NET "player1leftBtn" IOSTANDARD = LVTTL;
NET "player1leftBtn" PULLDOWN;
NET "player1rightBtn" LOC = P40;
NET "player1rightBtn" IOSTANDARD = LVTTL;
NET "player1rightBtn" PULLDOWN;
NET "player2leftBtn" LOC = P123;
NET "player2leftBtn" IOSTANDARD = LVTTL;
NET "player2leftBtn" PULLDOWN;
NET "player2rightBtn" LOC = P131;
NET "player2rightBtn" IOSTANDARD = LVTTL;
NET "player2rightBtn" PULLDOWN;
NET "startBtn" LOC = P9;
NET "startBtn" IOSTANDARD = LVTTL;
NET "startBtn" PULLDOWN;
NET "led_data<0>"  LOC = P34 | IOSTANDARD = LVTTL;
