NET "row1" LOC = P57 | IOSTANDARD = LVTTL | PULLDOWN;
NET "row2" LOC = P74 | IOSTANDARD = LVTTL | PULLDOWN;
NET "row3" LOC = P80 | IOSTANDARD = LVTTL | PULLDOWN;
NET "row4" LOC = P120 | IOSTANDARD = LVTTL | PULLDOWN;
NET "row5" LOC = P116 | IOSTANDARD = LVTTL | PULLDOWN;
NET "row6" LOC = P111 | IOSTANDARD = LVTTL | PULLDOWN;
NET "player1leftBtn" LOC = P32 | IOSTANDARD = LVTTL | PULLDOWN;
NET "player1rightBtn" LOC = P40 | IOSTANDARD = LVTTL | PULLDOWN;
NET "player2leftBtn" LOC = P123 | IOSTANDARD = LVTTL | PULLDOWN;
NET "player2rightBtn" LOC = P131 | IOSTANDARD = LVTTL | PULLDOWN;
NET "startBtn" LOC = P9 | IOSTANDARD = LVTTL | PULLDOWN;
NET "led_data<0>"  LOC = P34 | IOSTANDARD = LVTTL;