NET "a" LOC = P116 | IOSTANDARD = LVTTL | PULLDOWN;
NET "b" LOC = P118 | IOSTANDARD = LVTTL | PULLDOWN;
NET "c" LOC = P120 | IOSTANDARD = LVTTL | PULLDOWN;
NET "led_data<0>"  LOC = P34 | IOSTANDARD = LVTTL;