NET "row1" LOC = P116 | IOSTANDARD = LVTTL | PULLDOWN;
NET "row2" LOC = P104 | IOSTANDARD = LVTTL | PULLDOWN;
NET "row3" LOC = P97 | IOSTANDARD = LVTTL | PULLDOWN;
NET "row4" LOC = P92 | IOSTANDARD = LVTTL | PULLDOWN;
NET "row5" LOC = P80 | IOSTANDARD = LVTTL | PULLDOWN;
NET "row6" LOC = P57 | IOSTANDARD = LVTTL | PULLDOWN;
NET "player1leftBtn" LOC = P132 | IOSTANDARD = LVTTL | PULLDOWN;
NET "player1rightBtn" LOC = P124 | IOSTANDARD = LVTTL | PULLDOWN;
NET "player2leftBtn" LOC = P142 | IOSTANDARD = LVTTL | PULLDOWN;
NET "player2rightBtn" LOC = P138 | IOSTANDARD = LVTTL | PULLDOWN;
NET "led_data<0>"  LOC = P34 | IOSTANDARD = LVTTL;